<div id="nav-wrap">
  <div class="container-fluid but-fixed">
    <div class="row">
      <div class="col-sm-12">
        <nav id="nav">
          <ul class="cfix">
            <li><a href="/">Home</a></li>
            <li><span class="submenu">Checkout Pages</span>
              <ul class="submenu">
                <li><a href="/">Cart Page</a></li>
                <li><a href="/checkout/">Checkout Page</a></li>
                <li><a href="/receipt/">Receipt Page</a></li>
              </ul>
            </li>
            <li><a href="/components/">Components</a></li>
            <li class="right"><a href="#">Right Aligned</a></li>
            <li class="onmobile"><a href="{{Config.LoginURL}}">Student Login</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
