{% set PageTitle = "UP3 Checkout Template" %}
{% set PageDescription = "Static Nunjucks Starter Template" %}
{% set CanonicalPage = "/inner-page/" %}

{% extends "InnerTemplate.njk" %}

{% block Content %}

  <h1>This is an example of an inner page</h1>

{% endblock %}

{% block FooterIncludes %}
{% endblock %}
