{% set PageTitle = "UP3 Checkout Template" %}
{% set PageDescription = "Static Nunjucks Starter Template" %}
{% set CanonicalPage = "" %}

{% extends "MainTemplate.njk" %}

{% block MainContent %}

<main class="wrap pt-0">
  <div class="heading-wrap py-2 py-md-4">
    <div class="container-fluid but-fixed">
      <div class="row justify-content-center">
        <header class="col-12">
          <h1 class="mb-0">Cart Details</h1>
        </header>
      </div>
    </div>
  </div>
  <div class="container-fluid but-fixed">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12 pt-3">
        {# <div id="self-bulk" class="border-bottom mt-4 mb-3">
          <div class="d-flex flex-column flex-md-row align-items-md-center mb-3 mb-md-4">
            <div class="text-start">
              <label class="fw-bold justify-content-start px-md-3 py-2">I'm buying for:</label>
            </div>
            <div class="d-flex flex-column flex-sm-row align-items-center justify-content-sm-between justify-content-md-start">
              <div class="self-bulk-toggle mb-2 mb-sm-0 me-md-2">
                <input class="self-bulk-input" id="myself" type="radio" name="self-bulk" value="myself" checked />
                <label class="self-bulk-btn" for="myself">
                  Myself (Personal Account)
                  <small>Own personal use</small>
                </label>
              </div>
              <div class="self-bulk-toggle">
                <input class="self-bulk-input" id="bulk" type="radio" name="self-bulk" value="bulk" />
                <label class="self-bulk-btn" for="bulk">
                  A Group (Bulk Order)
                  <small>Corporate accounts and employees</small>
                </label>
              </div>
            </div>
          </div>
        </div> #}
        {# default to regular cart #}
        <div id="items-header" class="row d-none d-md-flex justify-content-between px-3 fw-bold text-muted">
          <div class="product-details">Product Name</div>
          <div class="product-qty text-center">Quantity</div>
          <div class="product-price text-end">Price</div>
        </div>
        <div class="card product border-secondary mb-2">
          <div class="card-body d-flex flex-wrap justify-content-between py-2 px-0">
            <div class="product-details">
              <h3 class="product-info h4">10-Hour OSHA Outreach Training Course for the Construction Industry ($79.00)</h3>
              <h6 class="small text-muted my-2">Add Course Upgrades:</h6>
              <div class="custom-control form-check course-upgrade">
                <input class="form-check-input" type="checkbox" id="customCheck10">
                <label class="form-check-label" for="customCheck10">
                  10-Hour Construction Study Guide ($14.95)
                  <a class="upsell-desc-trigger" href="#" data-bs-toggle="modal" data-bs-target="#desc-10">?</a>
                </label>
              </div>
              <div class="custom-control form-check course-upgrade">
                <input class="form-check-input" type="checkbox" name="test" id="customCheck11">
                <label class="form-check-label" for="customCheck11">
                  OSHA Education Center Association Membership ($39.95)
                  <a class="upsell-desc-trigger" href="#" data-bs-toggle="modal" data-bs-target="#desc-11">?</a>
                </label>
              </div>
            </div>
            <div class="product-qty text-center ms-auto ms-lg-0">
              {# <div class="qty-label small fw-lighter text-muted d-block d-md-none mb-1">Quantity</div> #}
              <div class="input-group">
                <button class="qty-btn btn btn-sm btn-light" type="button">&#8722;</button>
                <input class="qty-input form-control form-control-sm" name="qty-10" type="number" value="1" min="1" />
                <button class="qty-btn btn btn-sm btn-light" type="button">&#43;</button>
              </div>
              <div class="qty-discount small text-muted mt-1"><a class="text-reset" href="#" data-bs-toggle="modal" data-bs-target="#desc-40">Discount<span class="upsell-desc-trigger">?</span></a></div>
            </div>
            <div class="product-price d-flex flex-wrap justify-content-end text-end">
              {# <div class="price-label small fw-lighter text-muted d-block d-md-none mb-0">Price</div> #}
              <span class="price-display">$79.00</span>
              <button class="remove-btn btn btn-sm btn-link text-reset p-0 mt-auto icon-close" type="button">Remove</button>
            </div>
          </div>
        </div>
        <div class="card product border-secondary mb-2">
          <div class="card-body d-flex flex-wrap justify-content-between py-2 px-0">
            <div class="product-details">
              <h3 class="product-info h4">OSHA Education Center Association Membership ($39.95)&nbsp;<a class="upsell-desc-trigger" href="#" data-bs-toggle="modal" data-bs-target="#desc-11">?</a></h3>
            </div>
            <div class="product-qty text-center ms-auto ms-lg-0">
              {# <div class="qty-label small text-muted d-block d-md-none mb-1">Quantity</div> #}
              <div class="input-group">
                <button class="qty-btn btn btn-sm btn-light" type="button">&#8722;</button>
                <input class="qty-input form-control form-control-sm" name="qty-11" type="number" value="1" min="1" />
                <button class="qty-btn btn btn-sm btn-light" type="button">&#43;</button>
              </div>
              <div class="qty-discount small text-muted mt-1"><a class="text-reset" href="#" data-bs-toggle="modal" data-bs-target="#desc-40">Discount<span class="upsell-desc-trigger">?</span></a></div>
            </div>
            <div class="product-price d-flex flex-wrap justify-content-end text-end">
              <span class="price-display">$39.95</span>
              <button class="remove-btn btn btn-sm btn-link text-reset p-0 mt-auto icon-close" type="button">Remove</button>
            </div>
          </div>
        </div>
        <div class="card product border-secondary mb-2">
          <div class="card-body d-flex flex-wrap justify-content-between py-2 px-0">
            <div class="product-details">
              <h3 class="product-info h4">New York DMV Approved Defensive Driving Course ($24.95)</h3>
              <h6 class="small text-muted my-2">Add Course Upgrades:</h6>
              <div class="custom-control form-check course-upgrade">
                <input type="checkbox" class="form-check-input" id="customCheck20">
                <label class="form-check-label" for="customCheck20">
                  Rush Certificate Processing ($4.95)&nbsp;<a class="upsell-desc-trigger" href="#" data-bs-toggle="modal" data-bs-target="#desc-20">?</a>
                </label>
              </div>
              <div class="custom-control form-check course-upgrade">
                <input type="checkbox" class="form-check-input" id="customCheck21">
                <label class="form-check-label" for="customCheck21">
                  Streaming Upgrade ($9.95)&nbsp;<a class="upsell-desc-trigger" href="#" data-bs-toggle="modal" data-bs-target="#desc-21">?</a>
                </label>
              </div>
              <div class="custom-control form-check course-upgrade">
                <input type="checkbox" class="form-check-input" id="customCheck22">
                <label class="form-check-label" for="customCheck22">
                  Audio Read-Along Upgrade ($4.95)&nbsp;<a class="upsell-desc-trigger" href="#" data-bs-toggle="modal" data-bs-target="#desc-22">?</a>
                </label>
              </div>
              <div class="custom-control form-check course-upgrade">
                <input type="checkbox" class="form-check-input" id="customCheck23">
                <label class="form-check-label" for="customCheck23">
                  New York Defensive Driving Study Guide ($6.95)&nbsp;<a class="upsell-desc-trigger" href="#" data-bs-toggle="modal" data-bs-target="#desc-23">?</a>
                </label>
              </div>
            </div>
            <div class="product-qty text-center ms-auto ms-lg-0">
              {# <div class="qty-label small text-muted d-block d-md-none mb-1">Quantity</div> #}
              <div class="input-group">
                <button class="qty-btn btn btn-sm btn-light" type="button">&#8722;</button>
                <input class="qty-input form-control form-control-sm" name="qty-20" type="number" value="1" min="1" />
                <button class="qty-btn btn btn-sm btn-light" type="button">&#43;</button>
              </div>
              <div class="qty-discount small text-muted mt-1"><a class="text-reset" href="#" data-bs-toggle="modal" data-bs-target="#desc-40">Discount<span class="upsell-desc-trigger">?</span></a></div>
            </div>
            <div class="product-price d-flex flex-wrap justify-content-end text-end">
              <span class="price-display">$24.95</span>
              <button class="remove-btn btn btn-sm btn-link text-reset p-0 mt-auto icon-close" type="button">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 pe-lg-4">
        <h3 class="h5 mt-4 px-3">Customers Also Purchased</h3>
        {# <div class="card product upsell mb-2">
          <div class="card-body d-flex justify-content-between py-2 px-0">
            <div class="product-details">
              <h3 class="product-info h5">OSHA Education Center Association Membership ($39.95)&nbsp;<a class="upsell-desc-trigger" href="#" data-bs-toggle="modal" data-bs-target="#desc-11">?</a></h3>
            </div>
            <div class="add-remove-product d-flex justify-content-end">
              <button class="add-btn icon-plus p-0" type="button"></button>
            </div>
          </div>
        </div> #}
        <div class="card product mb-2">
          <div class="product-body upsell py-2 px-3">
            <div class="row d-flex justify-content-between">
              <div class="product-info col-8 col-sm-9">
                <div class="custom-control form-check mb-0">
                  <input type="checkbox" class="form-check-input" id="customCheck31">
                  <label class="form-check-label" for="customCheck31">
                    OSHA Education Center Association Membership&nbsp;<a class="upsell-desc-trigger" href="#" data-bs-toggle="modal" data-bs-target="#desc-11">?</a>
                  </label>
                </div>
              </div>
              <div class="product-price col-2 w-auto text-end">$39.95</div>
            </div>
          </div>
        </div>

        <h3 class="h5 mt-4 px-3">Add Order Upgrade</h3>
        {# <div class="card product upsell mb-2">
          <div class="card-body d-flex justify-content-between py-2 px-0">
            <div class="product-details">
              <h3 class="product-info h5">Premier Pass Customer Benefits ($2.95) <a class="upsell-desc-trigger" href="#" data-bs-toggle="modal" data-bs-target="#desc-30">?</a></h3>
            </div>
            <div class="add-remove-product d-flex justify-content-end">
              <button class="remove-btn icon-close p-0" type="button"></button>
            </div>
          </div>
        </div> #}
        <div class="card product mb-2">
          <div class="product-body py-2 px-3">
            <div class="row d-flex justify-content-between">
              <div class="product-info col-8 col-sm-9">
                <div class="custom-control form-check mb-0">
                  <input type="checkbox" class="form-check-input" id="customCheck30">
                  <label class="form-check-label" for="customCheck30">
                    Premier Pass customer benefits&nbsp;<a class="upsell-desc-trigger" href="#" data-bs-toggle="modal" data-bs-target="#desc-30">?</a>
                  </label>
                </div>
              </div>
              <div class="product-price col-2 w-auto text-end">$2.95</div>
            </div>
          </div>
        </div>
      </div>

      <aside class="col-sm-10 col-md-8 col-lg-4 mt-3">
        <div class="card card-summary cart-summary mb-3 rounded-0 border-0 border-top border-bottom">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item subtotal px-3">
                <div class="item-details order-tally">Subtotal</div>
                <div class="item-amount text-end">$193.65</div>
              </li>
              <li class="list-group-item shipping px-3">
                <div class="item-details order-tally">Shipping & Handling</div>
                <div class="item-amount text-end">FREE</div>
              </li>
              <li class="list-group-item tax px-3">
                <div class="item-details order-tally">Tax</div>
                <div class="item-amount text-end">$0.00</div>
              </li>
              <li class="list-group-item promo-code px-3">
                <div class="item-details order-tally">Promo Code: <strong class="promo-code-details">universal</strong></div>
                <div class="item-amount text-end">- $5.00</div>
              </li>
              <li class="list-group-item total px-3 fs-5">
                <div class="item-details order-tally">Total</div>
                <div class="item-amount text-end">$188.65</div>
              </li>
            </ul>
          </div>
        </div>
        <div id="promo-code-wrap" class="form-inline d-flex my-3">
          <input id="promo-code-input" class="form-control" type="text" placeholder="Promo Code">
          <button id="promo-code-btn" class="btn btn-outline-secondary" type="button">Apply</button>
        </div>
        <a href="/checkout/" class="checkout-btn btn btn-lg btn-success w-100">Checkout Now</a>
      </aside>

    </div>
  </div>
</main>

{% endblock %}

{% block FooterIncludes %}
<div class="modal fade" id="desc-10" data-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body p-4">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h3>10-Hour Construction Study Guide ($14.95)</h3>
        <p class="mb-0">Download a comprehensive study guide to use during the course or print for quick reference to key topics! </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="desc-11" data-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body p-4">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h3>What Is the OECA?</h3>
        <p>The OSHA Education Center Association (OECA) is a professional organization that provides workers with the knowledge, skills and resources they need to improve the safety of worksites nationwide.</p>
        <p>Join the OECA to access member benefits, including:</p>
        <ul class="check">
          <li>20% off on all OSHA certificate courses</li>
          <li>Exclusive course bundles</li>
          <li>Welcome packet with informational booklets</li>
          <li>Bimonthly workplace safety newsletter</li>
          <li>OECA bumper magnet and sticker</li>
        </ul>
        <p>We want all customers to have a "Worry Free" student experience. Our PASS services team and benefits do not affect our 24/7 student support.</p>
        <p class="mb-0">With our world-class training courses and timely updates to OSHA laws and regulations, we empower members to identify and control preventable work-related hazards.</p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="desc-20" data-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body p-4">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h3>Rush Certificate Processing ($4.95)</h3>
        <p class="mb-0">Same day processing and certificate shipment before 6:00 PM EST (Business Days).</p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="desc-21" data-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body p-4">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h3>Streaming Upgrade ($9.95)</h3>
        <p class="mb-0">The Streaming Upgrade lets you watch the course through narrated video and animations. </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="desc-22" data-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body p-4">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h3>Audio Read-Along Upgrade ($4.95)</h3>
        <p class="mb-0">The Audio Read-Along Upgrade lets you listen to the entire course through headphones or speakers on your computer.</p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="desc-23" data-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body p-4">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h3>New York Defensive Driving Study Guide ($6.95)</h3>
        <p class="mb-0">Download a comprehensive study guide to use during the course or print for quick reference to key topics!</p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="desc-30" data-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body p-4">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h3>What is Premier Pass?</h3>
        <p>In addition to our free 24/7 customer support, our signature PASS service means your account will receive priority attention from a dedicated team along with the following benefits:</p>
        <ul class="check">
          <li>Priority Telephone Support (8:00am-5:00pm EST)</li>
          <li>Priority 24/7 E-mail Support</li>
          <li>Guaranteed to Pass*</li>
          <li>Unlimited Duplicate Certificates</li>
          <li>Free Course Extension (If available)</li>
        </ul>
        <p>We want all customers to have a "Worry Free" student experience. Our PASS services team and benefits do not affect our 24/7 student support.</p>
        <p class="mb-0 small"><em>*As allowed by applicable regulatory agency. For courses that don't allow unlimited unlocks, you will receive free re-registration until you pass.</em></p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="desc-40" data-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body p-4">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h4>Discount Tiers for 10-Hour OSHA Outreach Training Course for the Construction Industry</h4>
        <p class="mb-0">
          Quantity of 2-4 $74.00 per course<br>
          Quantity of 5-9 $69.00 per course<br>
          Quantity of 10-24 $64.00 per course<br>
          Quantity of 25-49 $59.00 per course<br>
          Quantity of 50-74 $54.00 per course<br>
          Quantity >75 Please call 1-866-481-7541 for a custom quote
        </p>
    </div>
  </div>
</div>

{% endblock %}

