/* ----------------------------------------------------------------------------
    Colors
----------------------------------------------------------------------------- */
$blue:    #316ce8 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #fb4f16 !default;
$orange:  #fd7e14 !default;
$yellow:  #f6c23e !default;
$green:   #1cc88a !default;
$teal:    #36b9cc !default;
$cyan:    #17a2b8 !default;
$gray-600: #6c757d !default;

/* ----------------------------------------------------------------------------
    Custom Colors
----------------------------------------------------------------------------- */
$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;

/* ----------------------------------------------------------------------------
    Theme Colors
----------------------------------------------------------------------------- */
$theme-primary:       #373F50 !default;
$theme-secondary:     #243F86 !default;
$theme-nav-primary:   $theme-primary !default;
$theme-nav-secondary: $theme-secondary !default;
$link-color:          $blue !default;

/* ----------------------------------------------------------------------------
    CTA buttons
----------------------------------------------------------------------------- */
$cta-red:      #f44336 !default;
$cta-orange:   #FF6633 !default;
$cta-green:    #5CB865 !default;
$cta-blue:     #0099ff !default;
$cta-yellow:   #ffc107 !default;
$cta-dark:     #555555 !default;
